version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: chemical_visualizer_redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  web:
    build: .
    container_name: chemical_visualizer_web
    command: python backend/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings
      - REDIS_URL=redis://redis:6379/0 # - CELERY_BROKER_URL=redis://redis:6379/0
    networks:
      - app-network

  celery_worker:
    build: .
    container_name: chemical_visualizer_celery
    working_dir: /app/backend
    command: celery -A backend worker --loglevel=info
    volumes:
      - ./backend:/app/backend
    depends_on:
      - redis
      - web
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings
      - REDIS_URL=redis://redis:6379/0 # - CELERY_BROKER_URL=redis://redis:6379/0
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

